/* Hide scrollbar for Chrome, Safari and Opera */
.webkit::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.webkit {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
/* customized scrollbar kits */
